<!DOCTYPE html>
<html lang="en-IN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Soumya Sarthk Padhee</title>
    <link rel="icon" href="./image/me.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f35fe82ca9.js" crossorigin="anonymous"></script>
    <script src="./lib/angular.js"></script>
    <script src="./lib/angular-animate.js"></script>
</head>

<body ng-app="myProfile" ng-controller="myProfile" data-spy="scroll" data-target="#sideMenu" data-offset="50">
    <nav class="z-1000 nav navbar-expand-lg" id="sideMenu">
        <button class="navbar-toggler text-center" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            style="width: 100%; font-size: 20px;">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-pills ">
                <li class="nav-item">
                    <a class="nav-link active" href="#intro" title="Introduction" data-toggle="tooltip">
                        <i class="fas fa-user-tie"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutMe" title="About" data-toggle="tooltip">
                        <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#workExp" data-toggle="tooltip" title="Experience">
                        <i class="fas fa-eye"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#edu" data-toggle="tooltip" title="Education">
                        <i class="fas fa-graduation-cap"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#mySkill" title="My Skills" data-toggle="tooltip">
                        <i class="fas fa-laptop-code"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#myWork" data-toggle="tooltip" title="My Work">
                        <i class="fas fa-laptop-house"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contactMe" data-toggle="tooltip" title="Contact Me">
                        <i class="far fa-address-book"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="jumbotron intro" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="profile_image" src={{data.profile.image.src}} alt={{data.profile.image.alt}} />
                </div>
                <div class="col-12 col-md-6 text-center">
                    <div class="my-brief-detail">
                        <h2>{{data.profile.data.name}}</h2>
                        <h4 class="font-uniform">{{data.profile.data.desg}}</h4>
                        <ul class="no-style">
                            <li ng-repeat="(k,v) in data.profile.data.briefDetail">
                                <b>{{k | runningLettter}}:</b>&nbsp;&nbsp;{{v}}
                            </li>

                        </ul>

                    </div>
                    <!--<ul class="supple-menu">
                        <li>
                            <a><i class="fas fa-headphones-alt"></i>&nbsp;&nbsp;Contanct Information</a>
                        </li>
                        <li>
                            <a><i class="fas fa-envelope"></i>&nbsp;&nbsp;Send Message</a>
                        </li>
                        <li>
                            <a href={{data.profile.data.resume.src}} download="download" target="_blank">
                                <i class={{data.profile.data.resume.iconClass}}></i>&nbsp;&nbsp;{{data.profile.data.resume.title}}
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>

        </div>
    </section>
    <section id="aboutMe" class="jumbotron no-bottom-pad bg-transparent font-dark ">
        <div class="container section-header">
            About Me
        </div>
        <div class="container pad-left-40">
            <div class="row">
                <div class="col-12 col-md-5">
                    <p ng-bind-html="data.about | safeHTML"></p>
                </div>
                <div class="col-12 col-md-7">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4>Personal detail</h4>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12" ng-repeat="(k,v) in data.personalInfo">
                                        <div class="row">
                                            <div class="col-4 text-right"><b>{{k | uppercase}}</b></div>
                                            <div class="col-8 text-left font-dark-fade">{{v | uppercase}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="workExp" class="jumbotron  bg-light-dirty font-dark margin-0 margin-top-30">
        <div class="container section-header">
            Experience
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="we-wrapper">
                        <div class="row margin-bottom-30 shadow we-tablets" ng-repeat="we in data.workExp">
                            <div class="col-12 col-md-4 we-meta">
                                <div class="container-fluid">
                                    <div class="row margin-bottom-10 pad-10">
                                        <div class="col-6">
                                            <span class="font-dark-fade">
                                                From
                                            </span>
                                            <h5>{{we.start}}</h5>
                                        </div>
                                        <div class="col-6">
                                            <span class="font-dark-fade">
                                                To
                                            </span>
                                            <h5>{{we.end}}</h5>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-10 pad-10">
                                        <div class="col-12">
                                            <h5>{{we.company}}</h5>
                                            <span class="font-dark-fade">{{we.location}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 we-content pad-25">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>{{we.project}}</h4>
                                            <i style="opacity:0.8">{{we.designation}}</i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p ng-bind-html="we.summary | safeHTML"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="edu" class="jumbotron bg-light margin-0">
        <div class="container section-header">
            Education
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="carousalEducation" class="carousel slide" data-ride="carousel" hide-me="on-large">
                        <ul class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="{{$index}}"
                                ng-class="{{$index}} === 0 ? 'active' : ''" ng-repeat="ed in data.education"></li>
                        </ul>
                        <div class="carousel-inner carousal-content">
                            <div class="carousel-item" ng-class="{{$index}} === 0 ? 'active' : ''"
                                ng-repeat="edu in data.education">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-md-8">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span class="inst">{{edu.inst}}</span>
                                                    <span class="degree">{{edu.degree}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <span class="major">{{edu.major || ""}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span class="time">
                                                        {{edu.time || " "}}
                                                    </span>
                                                </div>
                                                <div class="col-12 markobt">
                                                    {{edu.mark}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" hide-me="on-small">
                        <div class="col-12 card-deck">
                            <div class="card edu-card shadow" ng-repeat="edu in data.education">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <span class="inst">{{edu.inst}}</span>
                                                <span class="degree">{{edu.degree}}</span>
                                            </div>
                                            <div class="col-12">
                                                <span class="major">{{edu.major || ""}}</span>
                                            </div>
                                            <div class="col-12">
                                                <span class="time">
                                                    {{edu.time || " "}}
                                                </span>
                                                <span class="markobt">
                                                    {{edu.mark}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mySkill" class="jumbotron margin-0">
        <div class="container section-header">
            Skills
        </div>
        <div class="container pad-left-40">
            <!--<div class="row">
                <div class="col-6 col-md-4 col-lg-3" ng-repeat="s in data.skills">
                    <piechart-directory options="s"></piechart-directory>
                </div>
            </div>-->
            <div class="row">
    
                <div class="col-12 col-md-6 pad-5" ng-repeat="s in data.skills">
    
                    <div class="row">
                        <div class="col-4 text-left">
                            <b>{{s.title}}</b>
                        </div>
                        <div class="col-8 text-left pad-right-40">
                            <svg width="100%" height='3' class="bg-light-dirtiest" xmlns="http://www.w3.org/2000/svg">
                                <line x1='0' y1='0' x2="{{s.current}}%" y2="0" stroke-width="6"
                                    stroke="black" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="myWork" class="jumbotron bg-light font-dark margin-0 no-pad pad-bottom-25">
        <div class="container section-header">
            My Work
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <image-gallery data="data.work"></image-gallery>
                </div>
            </div>
        </div>
    </section>
    <section id="contactMe" class="jumbotron bg-dark bg-purple font-light margin-0">
        <div class="container section-header">
            Contact Me
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="row">
                        <div class="col-12" ng-repeat="c in data.contacts">
                            <div class="row">
                                <div class="col-3 text-right">
                                    <i class="{{c.icon}}" style="font-size: 24px;"></i>
                                </div>
                                <div class="col-9 text-left">
                                    <span class="font-light">{{c.name}}</span>
                                    <h5 style="overflow:hidden; text-overflow: ellipsis;">{{c.value}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <ul class="contac_social">
                        <li class="" ng-repeat="s in data.social">
                            <a href="{{s.href}}" target="_blank" style="color: {{s.color}}">
                                <i class="{{s.iconClass}}" ></i>&nbsp;&nbsp; <span>{{s.title}}</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <span>
            <i class="far fa-copyright"></i> Soumya Sarthak Padhee
        </span>
        <p>
            I undertake that all information provided by me in this resume is correct as per my understanding, knowledge and beliefs and originals shall be made available on request.
        </p>
    </section>

    <script type="module" src="index.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: "right"
            });
        });
    </script>
</body>

</html>
