<div class="slideCards">
    <div class="prev" ng-click="prev()">
        <span><i class="fas fa-angle-left"></i></span>
    </div>
    <div class="next" ng-click="next()">
        <span><i class="fas fa-angle-right"></i></span>
    </div>
    <div class="content-holder">
        <div class="slide-card-container" ng-repeat="d in paginatedData track by $index" ng-show="d.visible">
            <div class="slide-card" ng-repeat = "item in d.items">
                <img src="../../image/{{item.thumbnail}}.png" alt="Screenshot  of {{item.name}}" />
                <div class="footer">
                    <h4>{{item.name}}</h4>
                    <a href="{{item.href}}" target="_blank">Go</a>
               </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="slide-card slide-item-{{$index}} "  ng-repeat="d in  data track by $index" ng-show="d.visible" dir={{direction}}>
    <img src="../../image/{{d.thumbnail}}.png" alt="Screenshot  of {{d.name}}" />
    <div class="footer">
         <h4>{{d.name}}</h4>
         <a href="{{d.href}}" target="_blank">Go</a>
    </div>
</div>-->
<!--

    <div class="slide-card slide-item-{{$index}}" ng-repeat="sc in d track by $index">
                <img src="../../image/{{d.thumbnail}}.png" alt="Screenshot  of {{d.name}}" />
                <div class="footer">
                    <h4>{{d.name}}</h4>
                    <a href="{{d.href}}" target="_blank">Go</a>
               </div>
             </div>
-->