<div class="img_rnd_row">
    <div class="img_rnd_col" ng-repeat="images in imageBundle">
        
        <div class="card" ng-repeat="image in images" style="margin-top: 5px; margin-bottom: 5px;">
            
            <div class="card-body">
                <a href="/html/{{image.href}}"  target="_blank">
                    <img  src="/image/{{image.thumbnail}}.png" style="width: 100%;" />
                </a>
                <h4 class="card-title">{{image.name}}</h4>
                
            </div>
        </div>
    </div>
</div>
