.video-container {
    position: fixed;
    top:0px;
    left:0px;
    bottom: 0px;
    right: 0px;
    background-color: #444444;
    z-index: 1000;
}
video#videoBox{
    position: absolute;
    z-index: 1001;
    top: 0px;
    height: 100%;
    width: 400px;
}
div#video-controls{
    position: relative;
    background-color: red;
    height: 100%;
    opacity: 0.2;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 70% 20% 10%;
}
