@media screen and (max-width: 727px){

  .timeline::after {
    left: 31px;
  }
  .tlcontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .tlcontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .left::after, .right::after {
    left: 18px;
  }
  .right {
    left: 0%;
  }
}
