* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.option-holder-main {
    position: absolute;
    width: 70%;
    left: 15%;
    min-height: 10%;
    top: 2%;
}

.outer {
    position: absolute;
    width: 70%;
    left: 15%;
    min-height: 80%;
    top: 15%;
}

.card {
    position: relative;
    display: inline-block;
    min-height: 200px;
    min-width: 200px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    user-select: none;
    float:left;

}

.card-content {
    min-height: 190px;
    min-width: 190px;
    
}

.placeholder {
    border: 2px dotted black;
    border-radius: 5px;
    min-height: 200px;
    min-width: 200px;
    background-color: #999;
    color: #999;
    display: inline-flex;
}

.ui-sortable-placeholder {
    display: inline-block;
}

.ui-resizable-handle {
    position: absolute;
    height: 14px;
    width: 14px;
    /*background: linear-gradient(135deg, transparent 0%, transparent 50%, black 50%, black 100%);*/
    background: url("resize.svg");
    top: calc(100% - 15px);
    left: calc(100% - 15px);
}

.handle {
    position: absolute;
    height: 20px;
    width: 20px;
    background: url('drag.svg');
    top: 3px;
    left: calc(100% - 23px);
}

.ui-resizable-ghost {
    opacity: 0.5;
    border: 3px dotted #555;
}

.btn{
    padding:5px 10px 5px 10px;
    border-radius: 4px;
    font-size: 1.2em;
}
.btn-primary{
    color: #fff;
    background-color: #341132;
}
.left{
    float: left;
}
.table {
        border: none;
        border-collapse: collapse;
    }

    .table a {
        color: #008db0;
        text-decoration: none;
    }

    .table a:hover {
        color: white;
    }

    .table select {
        padding: 3px;
        color: white;
        font-family: arial;
        font-size: 11px;
        border-radius: 0px;
        border: 1px solid #ddd;
        background: white;
    }

    .table td {
        padding: 5px;
        color: white;
        font-family: arial;
        font-size: 11px;
        border-radius: 0px;
        border: 1px solid #ddd;
        background: white;
        white-space: nowrap;
        position: relative;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 50px;
    }

    .table td:hover {
        background: #eee!important;
        color: white!important;
    }

    .inner {
        display: block;
        width: 100%;
        height: 100%;
        background: #337733;
        min-height: 50px;
        min-width: 50px;
    }
    